.chart-container {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: 28px;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.chart-container:hover {
  box-shadow: none;
}
