.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 48px;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 80%;
}

.budget-better-footer-info-container {
  width: 33%;
}

.footer-logo-name-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.footer-logo-name-container > img {
  width: fit-content;
}

.budget-better-footer-info-container > p {
  margin-top: 0;
}

.footer-account-container {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.footer-contact-container {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.person-contact-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.person-name-container {
  width: 100px;
}

.person-contact-info > span {
  margin-right: 12px;
}

.social-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-brands {
  color: #3734a9;
  font-size: 24px;
  border-radius: 8px;
  margin-right: 8px;
}

.fa-brands:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer-content-container h4 {
  font-size: 20px;
  margin-bottom: 12px;
}

.footer-logo-name-container > h4 {
  margin: 0;
}
