@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home-page-content-container {
  height: 100vh;
  width: 100%;
  background-color: #3734a9;
}

.home-page-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.home-page-title-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 140px;
  width: 50%;
  color: #ffffff;
  padding-left: 10%;
}

.home-page-title-container > h1 {
  font-size: 52px;
  margin: 0;
}

.home-page-title-2 {
  margin: 0;
}

.home-page-title-container > .home-page-subheading {
  width: 100%;
}

.home-page-title-container > .home-page-subheading > p {
  color: #ffffff;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: -0.2px;
}

.home-page-video-container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.home-page-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.play-svg {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.home-page-video > p {
  color: #ffffff;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: -0.2px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.home-page-video > p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.home-page-image-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 80%;
  margin-top: 48px;
}

.home-page-image-container > img {
  height: 100%;
  width: auto;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.light-blur-1 {
  position: absolute;
}

.red-circle-home {
  position: absolute;
  right: 250px;
  top: 200px;
}

* {
  box-sizing: border-box;
}

.landing-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

img {
  object-fit: contain;
  height: 50px;
}

h1 {
  font-weight: bold;
  margin: 1rem;
}

p {
  font-size: 14px;
  line-height: 1.3rem;
  letter-spacing: 0.4px;
  margin: 20px 0 30px;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.form-container {
  width: 50%;
  height: 480px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
